 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: burlywood;
    flex-direction: column;
}

.traffic-light {
    width: 100px;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
 }

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 0.5s ease;
    margin: 10px auto;
}

button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

.red { background-color: darkred; }
.yellow { background-color: darkgoldenrod; }
.green { background-color: darkgreen; }

.active.red { background-color: red; }
.active.yellow { background-color: yellow; }
.active.green { background-color: limegreen}